/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <0>;
    flavor = "tap-preferred";
};

/ {
    macros {
        macro_ae: macro_ae {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp A>;
            label = "MACRO_AE";
        };

        macro_oe: macro_oe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp O>;
            label = "MACRO_OE";
        };

        macro_ue: macro_ue {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp DOUBLE_QUOTES &kp U>;
            label = "MACRO_UE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&kp TAB       &kp X        &kp V           &kp L               &kp C             &kp W        &kp K    &kp H              &kp G                &kp F            &kp Q                &kp BSPC
&lt 1 ESCAPE  &mt LCTRL U  &mt LEFT_ALT I  &mt LEFT_COMMAND A  &mt LEFT_SHIFT E  &kp O        &kp S    &mt RIGHT_SHIFT N  &mt RIGHT_COMMAND R  &mt RIGHT_ALT T  &mt RIGHT_CONTROL D  &kp SQT
&kp LSHFT     &macro_ue    &macro_oe       &macro_ae           &kp P             &kp Z        &kp B    &kp M              &kp COMMA            &kp DOT          &kp J                &kp ESC
                                           &kp LGUI            &mo 1             &kp SPACE    &kp RET  &mo 2              &kp RALT
            >;
        };

        neo_layer_3 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Lower";
            bindings = <
&kp TAB    &kp Q          &kp UNDER   &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp CARET    &kp EXCL      &kp LT                &kp GT                 &kp EQUAL         &kp AMPS   &trans
&trans     &kp BACKSLASH  &kp SLASH   &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp STAR     &kp QUESTION  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp MINUS         &kp COLON  &kp AT
&kp LSHFT  &kp HASH       &kp DOLLAR  &kp TILDE         &kp PIPE           &kp GRAVE    &kp PLUS      &kp PRCNT             &kp DOUBLE_QUOTES      &kp SINGLE_QUOTE  &kp SEMI   &trans
                                      &kp LGUI          &trans             &kp SPACE    &kp RET       &trans                &kp RALT
            >;
        };

        neo_layer_4 {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Raise";
            bindings = <
&trans     &kp PAGE_UP  &kp BSPC        &kp UP_ARROW  &kp PAGE_DOWN  &trans             &trans     &kp KP_NUMBER_1  &kp KP_N8        &kp KP_NUMBER_9  &kp RPAR   &kp BSPC
&kp LCTRL  &kp HOME     &kp LEFT_ARROW  &kp DOWN      &kp RIGHT      &kp END            &trans     &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp COMMA  &kp PERIOD
&kp LSHFT  &trans       &kp TAB         &trans        &kp ENTER      &trans             &kp COLON  &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp SEMI   &trans
                                        &kp LGUI      &trans         &kp KP_NUMBER_0    &kp RET    &trans           &kp RALT
            >;
        };

        bluetooth {
            bindings = <
&bt BT_SEL 0  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
                                          &trans        &trans        &trans          &trans  &trans  &trans
            >;
        };

        hjkl {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &kp H   &kp J   &kp K   &kp L   &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
